<html>

<head>
    <meta charset="utf-8" />
    <meta content="IE-edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Shopping Site</title>

    <link href="./images/logo.png" rel="shortcut icon" />

    <link href="./css/style.css" rel="stylesheet" type="text/css" />

    <script crossorigin="anonymous" src="https://kit.fontawesome.com/70a642cd7c.js"></script>
</head>

<body>
    <section class="main">
        <div class="logo">
            <a href="#">
                <font>{{FIRST_LOGO_NAME}}</font>{{SECOND_LOGO_NAME}}
            </a>
        </div>
        <div class="side-box">
            <div class="search">
                <i class="fas fa-search"></i>
                <input placeholder="Search" type="text" />
            </div>
        </div>
        <div class="m-img">
            <img alt="" src="images/{{ILLUSTRATOR_IMAGE}}" />
        </div>
        <div class="m-text">
            <h1>{{SEASON_SALE}}<font>{{SEASON_SALE_DARK}}</font>{{SEASON_SALE_REMAINING}}</h1>
            <h2>Collect<font>ion</font>
            </h2>
            <a class="m-btn" href="#">Details</a>
        </div>
        <div class="social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </section>

</body>

</html>